/**
 * project: toudoux
 * file: app.scss - compile partials
 **/
/**
 * Base
 */
/**
 * project: toudoux
 * file: base/reset - reset browser styles
 **/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * project: toudoux
 * file: base/main - general rules and styling
 **/
body {
  background-color: #eceff1;
  font-family: 'Raleway', 'Lato', 'Open-sans', 'Helvetica', sans-serif;
  font-size: 14px;
  line-height: 1.3;
  color: #616262; }

a {
  color: #616262; }
  a:hover, a:focus {
    text-decoration: none; }

/**
 * Vendor
 */
/**
 * Components
 */
/**
 * project: toudoux
 * file: components/button - styling buttons
 **/
.form__button {
  background-color: #74c2f7;
  border-radius: 5px;
  border: 0;
  box-shadow: none;
  color: #fff;
  padding: 5px; }
  .form__button.primary {
    background-color: #74c2f7; }
  .form__button.danger {
    background-color: #b22525; }

/**
 * project: toudoux
 * file: components/icons - icon styling
 **/
.project-icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: transparent;
  margin-right: 10px;
  vertical-align: middle; }

.action-icon {
  font-weight: normal; }
  .action-icon.list__item__delete {
    color: #b22525; }
  .action-icon.list__item__edit {
    color: #cfcfcf; }

/**
 * Layouts
 */
/**
 * project: toudoux
 * file: layouts/navbar - styles for the navbar
 **/
.navbar {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 40px;
  padding: 20px 5%;
  text-align: right;
  position: relative; }

.navbar__header {
  display: inline-block;
  position: absolute;
  left: 5%;
  top: 32%;
  transform: translateY(-32%); }

.navbar__header__logo {
  width: 20px;
  position: relative;
  top: 4px;
  margin-right: .5em; }

.navbar__header__text {
  font-size: 1.3em;
  font-weight: bold;
  display: inline-block; }

.navbar__items {
  display: inline-block;
  text-align: right; }

.navbar__item {
  display: inline-block; }
  .navbar__item + .navbar__item {
    margin-left: 2em; }

.navbar__link {
  position: relative; }
  .navbar__link:after {
    content: "";
    display: block;
    height: 3px;
    background-color: #74c2f7;
    width: 0%;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: .2s ease-in-out; }
  .navbar__link:focus:after, .navbar__link:hover:after {
    width: 100%;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); }

@media screen and (min-width: 768px) {
  .navbar {
    padding: 1em 10%; }
  .navbar__header {
    left: 10%; } }

@media screen and (min-width: 992px) {
  .navbar {
    padding: 1em calc(calc(100% - 900px) / 2); }
  .navbar__header {
    left: calc(calc(100% - 900px) / 2); } }

@media screen and (min-width: 1200px) {
  .navbar {
    padding: 1em calc(calc(100% - 970px) / 2); }
  .navbar__header {
    left: calc(calc(100% - 970px) / 2); } }

/**
 * project: toudoux
 * file: components/panel - add styles for panels
 **/
[class*="-panel"] {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px 40px;
  text-align: center; }

.panel__title {
  display: inline-block;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 20px;
  position: relative; }
  .panel__title:after {
    content: "";
    display: block;
    height: 3px;
    background-color: #74c2f7;
    width: 100%;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: .2s ease-in-out; }

.list {
  text-align: left; }

.list__item {
  font-weight: bold;
  line-height: 2;
  display: block;
  position: relative; }

/**
 * project: toudoux
 * file: layouts/form - styling forms
 **/
.form {
  text-align: left; }

.form__label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px; }

.form__input {
  background-color: #f6f8f9;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  color: #616262;
  display: block;
  padding: 5px 10px;
  outline: none;
  transition: .2s; }
  .form__input:focus {
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2); }

.form__small {
  margin-bottom: 20px; }
  .form__small .form__input {
    display: inline-block;
    width: 80%; }
  .form__small .form__button {
    margin-left: 3%;
    width: 15%; }

/*# sourceMappingURL=app.css.map */
